@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Carter+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Give+You+Glory&display=swap");

/* 
---------------------------------------------
Global Style
--------------------------------------------- 
*/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 7.5rem;
  scroll-behavior: smooth;
}

body {
  background: #f0f3fa;
}

section {
  padding: 1rem 9%;
}

h1 {
  font-size: 4rem;
  color: #532fe4;
  padding: 1rem 0;
  font-family: "Carter One", cursive;
}

h2 {
  font-size: 2rem;
  color: black;
  letter-spacing: 1px;
  padding: 1rem 0;
  font-family: "Give You Glory", cursive;
}

p {
  font-size: 1.5rem;
  font-weight: 300;
  color: black;
  line-height: 2;
  text-align: justify;
}

.btn {
  margin: 3rem 0;
  cursor: pointer;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.3rem solid #9754f6;
  background: transparent;
  transition: all linear 0.2s;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.8rem;
  padding: 0.9rem 3.5rem;
}

.btn:hover {
  background: #7453fc;
  color: white;
}

.image_banner {
  height: 400px;
}

/* 
---------------------------------------------
Header Navigation Style
--------------------------------------------- 
*/
.container {
  min-width: 1100px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

/* when scroll */
.background-header {
  background-color: #e3e6f3 !important;
  height: 90px !important;
  position: fixed !important;
  top: 0 !important;
  left: 0;
  right: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.header-area {
  background-color: transparent;
  position: absolute;
  height: 70px;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

/* not yet scrolling */
.header-area .main-nav {
  min-height: 80px;
  display: flex;
  background-color: #e3e6f3;
  padding: 15px 30px;
  border-radius: 50px;
}

.background-header .main-nav {
  padding: 0px;
}

/* logo transition */
.header-area .main-nav .logo {
  flex-basis: 30%;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header-area .main-nav .logo img {
  width: 223px;
  height: 70px;
}

.background-header .main-nav .logo {
  margin-top: 12px;
}

/* logo when scrolling */
.background-header .main-nav .logo img {
  width: 180px;
  margin-left: -140px;
}

.header-area .main-nav .nav {
  display: inline-flex;
  flex-basis: 70%;
  justify-content: flex-end;
  vertical-align: middle;
  text-align: right;
  margin-top: 15px;
  margin-right: 0px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}

.header-area .main-nav .nav li {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  display: inline-block;
}

.header-area .main-nav .nav li a {
  display: block;
  font-weight: 500;
  font-size: 14px;
  text-transform: capitalize;
  color: black;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: transparent;
  padding: 8px 15px;
  border-radius: 18px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.header-area .nav_icons {
  margin-left: 50px;
}

.background-header #nav_center {
  margin-right: 170px;
}

.background-header .nav_icons {
  margin-right: -150px;
}

/* hover */
.header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
  color: #fff;
  background-color: #7453fc;
}

/* 
---------------------------------------------
Hero Image Slider
--------------------------------------------- 
*/
.slider {
  position: relative;
  width: 100%;
}

.myslide {
  height: 750px;
  display: none;
  overflow: hidden;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 50px;
  padding: 15px;
  cursor: pointer;
  color: #7453fc;
  transition: 0.1s;
  user-select: none;
}

.prev:hover,
.next:hover {
  color: black;
}

/* position of next icon */
.next {
  right: 0;
}

.dotsbox {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 20px;
  cursor: pointer;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 3px solid black;
  border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}

.active,
.dot:hover {
  border-color: #7453fc;
}

/* Image Fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Fade Time */
@-webkit-keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}

/* Image Animation Style */
.imageslider {
  transform: scale(1.5, 1.5);
  -webkit-animation-name: zoomin;
  -webkit-animation-duration: 40s;
  animation-name: zoomin;
  animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

@keyframes zoomin {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(1.5, 1.5);
  }
}

.txt h1 {
  color: black;
  font-size: 50px;
  margin-bottom: 20px;
}

.txt b {
  font-size: 80px;
  color: #7453fc;
  margin-bottom: 150px;
  padding-bottom: 150px;
  position: absolute;
}
.txt p {
  font-weight: bold;
  font-size: 20px;
  color: black;
}

/* Text Animation */
.txt {
  position: absolute;
  color: #fff;
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  left: 15%;
  -webkit-animation-name: posi;
  -webkit-animation-duration: 2s;
  animation-name: posi;
  animation-duration: 2s;
  z-index: 1;
}

/* Text Position */
@-webkit-keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

@keyframes posi {
  from {
    left: 25%;
  }
  to {
    left: 15%;
  }
}

/* 
---------------------------------------------
About Section
--------------------------------------------- 
*/
/* Image Container */
.about .container_about {
  display: flex;
  justify-content: space-between;
  height: 450px;
  margin-left: -55px;
  margin-top: 100px;
}

/* Image */
.about .container_about .image {
  flex-basis: 50%;
  background: url(../images/about/about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
}

.about .container_about .about-content {
  flex-basis: 50%;
  margin-top: 50px;
  margin-right: -55px;
}

/* 
---------------------------------------------
Features Section
--------------------------------------------- 
*/
/* Container */
#feature {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 50px;
}

/* Image Container */
#feature .fe-box {
  position: relative;
  width: 180px;
  height: 200px;
  text-align: center;
  padding: 25px 15px;
  border-radius: 4px;
  border: 1px solid #cce7d0;
  box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
  transition: 0.3s ease;
  margin: 15px 0;
  background-color: white;
  overflow: hidden;
  transform-origin: center;
}

#feature .fe-box:hover {
  box-shadow: 40px 40px 54px rgba(70, 62, 221, 0.1);
  transform: scale(1.1);
  z-index: 1;
}

#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

#feature .fe-box:hover img {
  transform: scale(1);
}

#feature .fe-box h6 {
  font-size: small;
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #7453fc;
  background-color: #f1c4b4;
  transition: background-color 0.3s ease;
}

#feature .fe-box:hover h6 {
  background-color: #f1c4b4;
}

/* Features 2-6 h6 Background Color */
#feature .fe-box:nth-child(2) h6 {
  background-color: #d9f1f4;
}

#feature .fe-box:nth-child(3) h6 {
  background-color: #cdd4f8;
}

#feature .fe-box:nth-child(4) h6 {
  background-color: #fcbbf7;
}

#feature .fe-box:nth-child(5) h6 {
  background-color: #f8f2d9;
}

#feature .fe-box:nth-child(6) h6 {
  background-color: #f7e2cd;
}

/* 
---------------------------------------------
T-Shirt Showcase Section
--------------------------------------------- 
*/
.showcase_row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.heading {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.heading p {
  text-align: center;
}

.showcase-col {
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 130px;
  margin-top: -30px;
  position: relative;
  overflow: hidden;
}

.showcase-col img {
  width: 100%;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(116, 83, 252, 0.7);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* 
---------------------------------------------
Body Banner Section
--------------------------------------------- 
*/
.banner {
  position: relative;
  background-color: #e3e6f3;
  height: 510px;
  margin-top: 7px;
  margin-bottom: 50px;
}

.banner .right img {
  position: absolute;
  bottom: 0;
  right: 11%;
  width: 75rem;
}

.banner .left {
  margin-top: 150px;
}

.banner .trend,
.banner p {
  display: block;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 5.5rem;
  margin-left: 19rem;
  color: black;
}

.banner h1 {
  font-size: 5.4rem;
  color: #7453fc;
  margin-top: 8.5rem;
  margin-left: 20rem;
}

.banner .btn {
  display: inline-block;
  margin-top: -2rem;
  margin-left: 35rem;
}

.banner .color {
  color: black;
  font-weight: bold;
}

/* 
---------------------------------------------
Featured Product Section
--------------------------------------------- 
*/
/* Featured Text */
.heading span {
  color: black;
  font-family: "Carter One", cursive;
}

.featured .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* Featured Product Container */
.featured .box-container .box {
  flex: 1 1 27rem;
  background: white;
  border: 0.1rem solid blue;
  border-radius: 0.5rem;
  padding: 1rem;
}

.featured .box-container .box .content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.featured .box-container .box .image-container {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  padding: 1rem;
}

.featured .box-container .box .image-container .small-image {
  width: 20%;
}

.featured .box-container .box .image-container .big-image {
  width: 80%;
}

/* Small Image Container */
.featured .box-container .box .image-container .small-image img {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.featured .box-container .box .image-container .big-image img {
  width: 100%;
}

/* Line Between Image and Content */
.featured .box-container .box .content {
  position: relative;
  padding: 1rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
}

.featured .box-container .box .content h3 {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
}

.featured .box-container .box .content .stars {
  padding: 0.5rem 0;
}

.featured .box-container .box .content .stars i {
  font-size: 1.5rem;
  color: red;
}

/* Reviews Text */
.featured .box-container .box .content .stars span {
  font-size: 1.5rem;
  color: black;
  font-weight: 300;
}

/* Content Text */
.featured .box-container .box .content p {
  color: black;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

/* Price Discount */
.featured .box-container .box .content .price {
  color: black;
  font-size: 2.5rem;
  padding: 0.5rem 0;
  font-weight: bolder;
}

/* Price Original */
.featured .box-container .box .content .price span {
  color: black;
  font-size: 1.5rem;
  text-decoration: line-through;
  font-weight: 300;
}

/* 
---------------------------------------------
Sources Section
--------------------------------------------- 
*/
.grid {
  display: grid;
}

.brand {
  margin-top: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 300px;
}

.brand .grid {
  grid-template-columns: repeat(5, 1fr);
  gap: 50px;
}

.brand img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.brand img:hover {
  transform: scale(1.1);
}

/* 
---------------------------------------------
Footer Section
--------------------------------------------- 
*/
.footer {
  width: 100%;
  height: auto;
  background: url(../images/footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 20rem;
}

.footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  padding: 2.5rem 0;
}

.footer .container .footer-box {
  padding: 1rem;
}

.footer .container .footer-box h3 {
  color: black;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
}

.footer .container .footer-box p {
  color: black;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  padding: 1.2rem 0;
}

.footer .container .footer-box form input {
  width: 70%;
  padding: 1rem;
  text-transform: lowercase;
}

.footer .container .footer-box p a {
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.footer .container .footer-box form button {
  background: #7453fc;
  color: white;
  padding: 1rem;
  cursor: pointer;
}

.footer .container .footer-box div a {
  margin: 0.5rem;
  color: white;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background: #7453fc;
  font-size: large;
}

/* 
---------------------------------------------
About Page
--------------------------------------------- 
*/
.class_body {
  display: flex;
  align-items: center;
  padding: 40px 80px;
  margin-top: 50px;
}

.class_body img {
  width: 160%;
  height: 350px;
  margin-left: 30px;
  order: 2;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px rgb(195, 193, 193);
}

#about-business img {
  width: 400%;
  height: 500px;
  order: 1;
  margin-right: 60px;
  margin-left: -1px;
  margin-bottom: 120px;
  margin-top: -30px;
}

#about-company div {
  margin-right: 40px;
  order: 1;
}

#about-business div {
  order: 2;
  margin-top: -160px;
}

.marquee-text {
  font-size: 24px;
  background-color: #e3e6f3;
  color: #9754f6;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  width: 100%;
  font-weight: bold;
}

/* Mission and Vision */
.service-container {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  margin-top: -50px;
  margin-bottom: 15px;
}

.service {
  flex-basis: 35%;
  margin: 0 40px;
  padding: 20px 50px;
  background-color: #e3e6f3;
  text-align: center;
  position: relative;
  transition: transform 0.3s ease;
}

.service:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.service:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background-color: #9754f6;
  z-index: -1;
  transition: opacity 0.3s ease;
  opacity: 0;
}

.service:hover:before {
  opacity: 0.7;
}

.service i {
  font-size: 48px;
  color: #333;
  margin-bottom: 20px;
  transition: transform 0.5s ease;
}

.service:hover i {
  transform: rotate(360deg);
}

.service h3 {
  font-size: 20px;
  color: #333;
  margin-bottom: 10px;
}

.service p {
  font-size: 16px;
  font-family: Verdana, Tahoma, sans-serif;
  color: #666;
  line-height: 1.5;
}

.service-container:hover .service:not(:hover):before {
  opacity: 0.4;
}

.service-container:hover .service:not(:hover):before:first-child {
  transform: scaleX(0.8);
}

.service-container:hover .service:not(:hover):before:last-child {
  transform: scaleX(0.6);
}

/* Team */
#team {
  margin-left: 87px;
  margin-right: 87px;
  margin-top: 70px;
}

#team p {
  margin-left: 90px;
  margin-right: 90px;
}

.row_team {
  display: flex;
  flex-wrap: wrap;
  padding: 2em 1em;
  text-align: center;
}
.column {
  width: 50%;
  padding: 0.5em 0;
}

.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  transition: 0.3s;
  background-color: #ffffff;
}
.card .img-container {
  width: 18em;
  height: 18em;
  background-color: #a993ff;
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
}
.card img {
  width: 100%;
  border-radius: 50%;
}
.card h3 {
  font-weight: 500;
  font-size: 25px;
  color: inherit;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
  color: inherit;
  text-align: center;
}

.card a {
  text-decoration: none;
  color: inherit;
  font-size: 2.4em;
}

.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
}

.card:hover .img-container {
  transform: scale(1.15);
}

@media screen and (min-width: 992px) {
  .team {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  }
}

/* 
---------------------------------------------
Apparel Page
--------------------------------------------- 
*/
#pagination {
  text-align: center;
}

#pagination a {
  text-decoration: none;
  background: #9754f6;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a:hover {
  text-decoration: none;
  background: #7453fc;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}

#pagination a i {
  font-size: 16px;
  font-weight: 600;
}

.section-p1 {
  padding: 40px 80px;
}

#product1 {
  text-align: center;
}

#product1 .pro-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 20px;
}

#product1 .pro {
  width: 23%;
  height: 10%;
  min-width: 250px;
  padding: 10px 12px;
  border-radius: 25px;
  transition: 0.2s;
  position: relative;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

#product1 .pro:hover img {
  width: 100%;
  border-radius: 20px;
  opacity: 0.7;
  cursor: pointer;
}

#product1 .pro .des {
  text-align: center;
  padding: 10px 0;
}

#product1 .pro .des h5 {
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 19px;
  transition: 0.2s;
}

#product1 .pro:hover .des h5 {
  color: #7453fc;
}

#product1 .pro .des i {
  color: rgb(240, 177, 18);
  font-size: 12px;
}

#product1 .pro .des h4 {
  padding-top: 7px;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#product1 .pro .des span {
  padding-top: 7px;
  font-size: 15px;
  color: black;
  font-weight: 100;
  text-decoration: line-through;
}

#product1 .pro .buy-btn {
  cursor: pointer;
  color: black;
  font-size: 1.4rem;
  font-weight: bold;
  border: 0.3rem solid #7453fc;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.3rem;
  padding: 0.9rem 1.5rem;
  transform: translateY(20px);
  opacity: 0;
  transition: 0.3s all;
  margin-top: 20px;
  background: transparent;
}

#product1 .pro:hover .buy-btn {
  transform: translateY(0);
  width: 125px;
  border-radius: 20px;
  opacity: 0.7;
}

#product1 .buy-btn:hover {
  color: white;
  background: #7453fc;
}

.buy-btn {
  width: 125px;
}

/* 
---------------------------------------------
Product Details Page
--------------------------------------------- 
*/
#prodetails {
  display: flex;
  margin-top: 80px;
}

#prodetails .single-pro-image {
  width: 40%;
  margin-right: 50px;
}

.small-img-group {
  display: flex;
  justify-content: space-between;
}

.small-img-col {
  flex-basis: 24%;
  cursor: pointer;
}

#prodetails .single-pro-details {
  width: 50%;
  padding-bottom: 60px;
}

#prodetails .single-pro-details h2 {
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  color: #532fe4;
}

#prodetails .single-pro-details h3 {
  font-size: 30px;
  font-family: "Give You Glory", cursive;
}

#prodetails .single-pro-details h4 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 18px;
}

#prodetails .single-pro-details p {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}

#prodetails .single-pro-details .input-select-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

#prodetails .single-pro-details select {
  width: 150px;
  padding: 5px 10px;
  margin-right: 10px;
  border: 1px solid black;
}

#prodetails .single-pro-details input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  border: 1px solid black;
}

#prodetails .single-pro-details input:focus {
  outline: none;
}

#prodetails .single-pro-details span {
  line-height: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: lighter;
}

.product-detail ul li {
  margin: 0;
  list-style: none;
  background: url(/images/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 2.7rem;
  margin: 0.4rem 0;
  font-weight: 600;
  opacity: 0.9;
  font-size: 13px;
}

#prodetails .single-pro-details button {
  margin: 3rem 0;
  cursor: pointer;
  color: white;
  font-size: 1.4rem;
  font-weight: 500;
  background: #7453fc;
  transition: all linear 0.2s;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.8rem;
  padding: 0.9rem 3.5rem;
}

#prodetails .single-pro-details button:hover {
  color: black;
  background: transparent;
  border: 0.3rem solid #9754f6;
}

/* 
---------------------------------------------
Contact Page
--------------------------------------------- 
*/
.campus_row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}
.location iframe {
  width: 100%;
}

.contact-us {
  width: 80%;
  margin: auto;
}
.contact-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.contact-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.contact-col div .fa {
  font-size: 28px;
  color: #9754f6;
  margin: 10px;
  margin-right: 30px;
}

.contact-col div p {
  padding: 0;
}
.contact-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}
.contact-col input,
.contact-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  outline: none;
  border: 1px solid #ccc;
}

.footer-link {
  text-decoration: none;
  color: #777;
}

/* 
---------------------------------------------
Cart Page
--------------------------------------------- 
*/
#cart {
  overflow-x: auto;
}

.table-container {
  max-height: 400px;
  overflow-y: scroll;
  scrollbar-color: #a298cb transparent;
}

.table-container::-webkit-scrollbar {
  width: 12px;
}

.table-container::-webkit-scrollbar-track {
  background-color: transparent;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 8px;
}

#cartItemsContainer thead {
  position: sticky;
  top: 0;
  background-color: #9855f6;
  z-index: 1;
}

#cart table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

#cart table img {
  width: 70px;
}

#cart table thead {
  border: 1px solid #7453fc;
  background: #9855f6;
}

#cart table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  padding: 18px 0;
  color: white;
  border: none;
}

#cart table td {
  border: 1px solid #7453fc;
  text-align: center;
}

#cart table td:nth-child(1),
#cart table td:nth-child(2) {
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(3) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(4) {
  width: 250px;
  text-align: center;
  white-space: normal;
  padding-left: 15px;
  padding-right: 15px;
}

#cart table td:nth-child(5),
#cart table td:nth-child(6),
#cart table td:nth-child(7) {
  width: 150px;
  text-align: center;
}

#cart table td:nth-child(5) input {
  width: 70px;
  padding: 10px 5px 10px 15px;
}

#cart table tbody tr td {
  padding-top: 15px;
}

#cart table tbody td {
  font-size: 13px;
}

#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.quantity-input {
  width: 50px;
  height: 30px;
  padding-left: 10px;
  font-size: 15px;
  border: 1px solid black;
}

#subtotal h3 {
  padding-bottom: 15px;
  padding-top: 50px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: #532fe4;
}

#subtotal button {
  margin: 3rem 0;
  cursor: pointer;
  color: black;
  font-size: 1.4rem;
  font-weight: 500;
  border: 0.3rem solid #7453fc;
  transition: all linear 0.2s;
  display: inline-block;
  border-radius: 5rem;
  font-size: 1.8rem;
  padding: 0.9rem 3.5rem;
  background: #7453fc;
  color: white;
}

#subtotal button:hover {
  color: black;
  background: transparent;
}

#subtotal {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  margin-right: 210px;
  margin-top: 25px;
  padding: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1),
    0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}

/* Payment method */
.payment_container {
  width: 400px;
  border-radius: 8px;
  margin-left: 210px;
  padding: 40px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 5px 12px -2px rgba(0, 0, 0, 0.1),
    0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.payment_container .title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.payment_container form input {
  display: none;
}

.payment_container form .category {
  margin-top: 10px;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.category label {
  height: 145px;
  padding: 20px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#GCash:checked ~ .category .GCashMethod {
  box-shadow: 0px 0px 0px 1px #6064b6;
}

#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#GCash:checked ~ .category .GCashMethod .check {
  display: block;
}

label .imgName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.imgName span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  position: absolute;
  top: 72%;
  transform: translateY(-72%);
}

.imgName .imgContainer {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 35%;
  transform: translateY(-35%);
}

.visa img {
  width: 80px;
}

.mastercard img {
  width: 65px;
}

.paypal img {
  width: 80px;
}

.GCash img {
  width: 50px;
}

.check {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.check i {
  font-size: 18px;
}

/* deliver */
.deliver .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.deliver .box-container .box {
  position: relative;
}

.deliver .box-container .box .image {
  flex: 1 1 40rem;
}

.deliver .box-container .box:hover .image .front-img {
  opacity: 0;
}

.deliver .box-container .box .image .rear-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  align-items: center;
  transition: opacity 0.4s linear;
  opacity: 0;
}

.deliver .box-container .box:hover .image .rear-img {
  opacity: 1;
  z-index: 0;
}

.deliver .box-container .box .content {
  flex: 1 1 40rem;
  text-align: center;
}

.deliver .box-container .box .content h3 {
  font-size: 2.2rem;
  color: var(--primary);
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.deliver .box-container .box .content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.deliver .box-container .box .content p {
  font-size: 1.2rem;
  line-height: 1 0.3;
}

/* 
---------------------------------------------
Checkout Page
--------------------------------------------- 
*/
.checkout_container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 250px;
  margin-bottom: 200px;
}

.checkout_container h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #532fe4;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  transition: border-color 0.3s ease-in-out;
}

.form-group input:hover,
.form-group input:focus {
  border-color: black;
}

.form-group input[type="submit"] {
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  border: 2px solid #7453fc;
  font-weight: bold;
}

.form-group input[type="submit"]:hover {
  background-color: #7453fc;
  color: white;
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  animation: slide-up 0.5s ease-in-out;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.message {
  position: relative;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  animation: slide-up 0.5s ease-in-out;
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.close-icon {
  position: absolute;
  bottom: 85px;
  left: 260px;
  font-size: 30px;
  cursor: pointer;
}

.close-icon:hover {
  color: #9855f6;
}

/* 
---------------------------------------------
FAQ Page
--------------------------------------------- 
*/
.FAQ_container {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 250px;
  margin-bottom: 150px;
}

.FAQ_container h1 {
  text-align: center;
  color: #532fe4;
  font-size: 28px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.question {
  margin-bottom: 10px;
  padding-left: 30px;
}

.answer {
  margin-bottom: 20px;
  padding-left: 70px;
}

.answer:before {
  content: "\2022";
  color: #ff5c5c;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.answer span {
  display: inline-block;
  vertical-align: top;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq-list li {
  padding-bottom: 10px;
  font-size: 15px;
}

.faq-list li:hover {
  cursor: pointer;
  color: #ff5c5c;
}

.faq-list li .answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

.faq-list li.active .answer {
  max-height: 500px;
  transition: max-height 0.3s ease-in;
  margin-right: 5.5em;
}

.faq-list li.active .question:before {
  transform: rotate(45deg);
  font-size: 25px;
}

.faq-list li .question:before {
  content: "+";
  color: #333333;
  display: inline-block;
  width: 20px;
  margin-right: 0.5em;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  font-size: 25px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animated-text {
  animation: fade-in 0.8s ease-in-out;
  display: inline-block;
  color: #ff5c5c;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 1.5rem;
  background: hsl(0, 0%, 74%);
}

::-webkit-scrollbar-thumb {
  background: #7453fc;
  border-radius: 5rem;
}
